@using System;
@{
    int x = 1;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lucas</title>
</head>
<body>
    <div>
        <p> @x </p>
    </div>
</body>
</html>
