@model IEnumerable<Projeto01.Models.Categoria>;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index Teste</title>
</head>
<body>
    <div>
        <table>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.CategoriaId }) |
                        @Html.ActionLink("Detalhes", "Details", new { id=item.CategoriaId }) |
                        @Html.ActionLink("Excluir", "Delete", new { id=item.CategoriaId })
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>

