@model IEnumerable<Projeto01.Models.Categoria>;

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Index Teste</title>
</head>
<body>
    <div>
        @foreach (var item in Model) {
            
        }
    </div>
</body>
</html>

