<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Arael</title>
</head>
<body>
    <div>
        @foreach (var item in collection)
        {
            
        }
    </div>
</body>
</html>